<div class="fly-panel">
    <div class="fly-panel-title">
        广告区域
    </div>
    <div class="fly-panel-main">
        <div id="adv"></div>
        <div class="layui-carousel" id="test1" lay-filter="test1">
            <div carousel-item="">
                <div id="lunbo1">虚席以待</div>
                <div id="lunbo2">虚席以待</div>
                <div id="lunbo3">虚席以待</div>
                <div id="lunbo4">虚席以待</div>
                <div id="lunbo5">虚席以待</div>
            </div>
        </div>
    </div>
</div>
<script src="/static/builder/common/jquery.min.js"></script>
<script>
    layui.use(['carousel', 'form'], function(){
        var carousel = layui.carousel
            ,form = layui.form;
        //常规轮播
        carousel.render({
            elem: '#test1'
            ,arrow: 'always'
            ,width:300
            ,height:200
        });
    });
</script>
<script>
    $.ajax({
        url: "{:url('adv/adv_show/advPositionShow')}",
        type: 'GET',
        data: {'position_id' : 1 , 'adv_platform' : 1},
        dataType: 'JSON',
        success: function(data) {
            var html = '';
            var lunbo1 = '';
            var lunbo2 = '';
            var lunbo3 = '';
            var lunbo4 = '';
            var lunbo5 = '';
            if(data.code == 404){
                html += "<a href=\"javascript:void(0)\" class=\"fly-zanzhu\" style=\"background-color: #393D49;\">虚席以待</a>"
            }else{
                $.each(data.data, function(i, item) {
                    console.log(item)
                    switch (item.type) {
                        // 图片
                        case 1:
                            html += "<a href='"+item.link+"'><img src='"+item.file_path+"' width='"+item.adv_width+"' height='"+item.adv_height+"' ></a> ";
                            return html;
                        // 轮播
                        case 2:
                            switch (item.carousel) {
                                case 1:
                                    lunbo1 = "<div><a href='"+item.link+"'><img src='"+item.file_path+"'></a></div>";
                                    $('#lunbo1').html(lunbo1);
                                    break;
                                case 2:
                                    lunbo2 = "<div><a href='"+item.link+"'><img src='"+item.file_path+"'></a></div>";
                                    $('#lunbo2').html(lunbo2);
                                    break;
                                case 3:
                                    lunbo3 = "<div><a href='"+item.link+"'><img src='"+item.file_path+"'></a></div>";
                                    $('#lunbo3').html(lunbo3);
                                    break;
                                case 4:
                                    lunbo4 = "<div><a href='"+item.link+"'><img src='"+item.file_path+"'></a></div>";
                                    $('#lunbo4').html(lunbo4);
                                    break;
                                case 5:
                                    lunbo5 = "<div><a href='"+item.link+"'><img src='"+item.file_path+"'></a></div>";
                                    $('#lunbo5').html(lunbo5);
                                    break;
                            }
                            break;
                        // 视频
                        case 3:
                            html += "<video src='"+item.video_path+"' width='"+item.adv_width+"' height='"+item.adv_height+"' controls=\"controls\">\n" +
                                "您的浏览器不支持 video 标签。\n" +
                                "</video>";
                            break;

                    }
                });
            }
            if(lunbo1 == '' && lunbo2 == '' && lunbo3 == '' && lunbo4 == '' && lunbo5 == ''){
                $('#test1').remove();
            }
            $('#adv').html(html);

        },
        error: function(data) {
            console.log(data);
        }
    });
</script>